.product {
	padding-top: 120px;
	text-align: center;
	.product__header {
		padding: 45px 0px;
		text-align: center;
		.product__heading {
			font-weight: 600;
			font-size: 32px;
			line-height: 40px;
			margin-bottom: 16px;
			span {
				color: #ef7c00;
			}
		}
		.head__btn {
			margin: 0px 12px;
			padding: 12.5px 20px;
			border-radius: 61px;
			border: 2px solid;
			cursor: pointer;
			background-color: transparent;
			color: #ef7c00;
			&:hover {
				color: white;
				background-color: #ef7c00;
			}
		}
		.active {
			background-color: #ef7c00 !important;
			color: #fff;
		}
	}
	.product__main {
		display: flex;
		gap: 30px;
		justify-content: center;
		flex-wrap: wrap;
		padding: 100px 0px;
		img {
			transition: all 0.7s;
			&:hover {
				transform: scale(1.2);
			}
		}
	}
	.product__foot {
		.product__tagbtn {
			padding: 10px 20px;
			color: #ef7c00;
			border: 2px solid #ef7c00;
			background-color: transparent;
			transition: all 0.6s;
			&:hover {
				background-color: #ef7c00;
				color: #fff;
			}
		}
	}
	margin-bottom: 40px;
}
