.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	margin-bottom: 100px;
	z-index: 10000;
	background-color: #ffffff;
	box-shadow: 0px 4px 32px 0px #00103d29;

	.navigations {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 54px;
		height: 80px;
		.logo__link {
			img {
				width: 122px;
				height: 55px;
			}
		}
		.nav__list {
			list-style: none;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			.nav__list-items {
				border-right: 2px solid #00103d1f;
				.nav__list-items__link {
					text-decoration: none;
					font-weight: 500;
					font-size: 16px;
					line-height: 20px;
					padding: 10.5px 16px;
					color: #2c2d2e;
					transition: all 0.6s;
					&:hover {
						background-color: #2c2d2e;
						color: #ffffff;
					}
				}
			}
		}
	}
}
$background-color_1: var(--color-grey);
$background-color_2: #fff;
$background-color_3: var(--color-green);

.switch {
	cursor: pointer;
	--button-width: 3.5em;
	--button-height: 2em;
	--toggle-diameter: 1.5em;
	--button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
	--toggle-shadow-offset: 10px;
	--toggle-wider: 3em;
	--color-grey: #cccccc;
	--color-green: #ef7c00;
	input[type="checkbox"] {
		&:checked {
			+ {
				.slider {
					background-color: $background-color_3;
					&::after {
						transform: translateX(
							calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset))
						);
						box-shadow: calc(var(--toggle-shadow-offset) * -1) 0
							calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
					}
				}
			}
			&:active {
				+ {
					.slider {
						&::after {
							transform: translateX(
								calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset))
							);
						}
					}
				}
			}
		}
		display: none;
		&:active {
			+ {
				.slider {
					&::after {
						width: var(--toggle-wider);
					}
				}
			}
		}
	}
}
.slider {
	display: inline-block;
	width: var(--button-width);
	height: var(--button-height);
	background-color: $background-color_1;
	border-radius: calc(var(--button-height) / 2);
	position: relative;
	transition: 0.3s all ease-in-out;
	&::after {
		content: "";
		display: inline-block;
		width: var(--toggle-diameter);
		height: var(--toggle-diameter);
		background-color: $background-color_2;
		border-radius: calc(var(--toggle-diameter) / 2);
		position: absolute;
		top: var(--button-toggle-offset);
		transform: translateX(var(--button-toggle-offset));
		box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4)
			rgba(0, 0, 0, 0.1);
		transition: 0.3s all ease-in-out;
	}
}
